.TestDiv {
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
    white-space: nowrap;
}

.link {
    stroke: #E9E9E9;
    stroke-opacity: 0.01;
    stroke-width: 1px;
    fill: none;
}

.link--highlight {
    stroke-opacity: 1;
    stroke-width: 1.5px;
}

.link--fade {
    stroke-opacity: 0.005;
}

.link--movieViz {
    stroke: #E9E9E9;
    stroke-opacity: 0.05;
    fill: none;
}

.link--hidden {
    stroke-opacity: 0.0;
    opacity: 0.0;
    fill: none;
}

.node {
    cursor: pointer;
}

.node circle {
    color: #E9E9E9;
    font: 300 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.node:hover {
    fill: #E9E9E9;
    opacity: 1;
}

.node--selected {
    stroke-width: 4px;
    stroke: #E9E9E9;
}

.node:hover,
.node--highlight {
    stroke-width: 2px;
    font-weight: 700;
}

.node--fade {
    opacity: 0.2;
}

.background {
    fill: #343a40;
    /*stroke: #000000;*/
}

.wrapper {
    display: flex;
    max-height: 900px;
}

.bar {
    fill: steelblue;
}

.bigtext{
    font-size: 18px;
    font-weight: bold;
}

.text_default {
    fill: #E9E9E9;
    opacity: 0.8;
    font-size: 14px;
    font-family: sans-serif;
    cursor: pointer;
}
.text_highlight {
    fill: #E9E9E9;
    opacity: 1;
    font-family: sans-serif;
}
.text_fade {
    fill: #E9E9E9;
    opacity: 0.2;
    font-family: sans-serif;
}
.axis path,
.axis line {
    fill: none;
    stroke: #E9E9E9;
    shape-rendering: crispEdges;
}

.axis text {
    fill: #E9E9E9;
    opacity: 1;
    stroke: 1px;
    font-size: 12px;
    font-family: sans-serif;
}


.text_label {
    fill: #E9E9E9;
    opacity: 0.9;
    stroke: 1px;
    font-size: 12px;
    font-family: sans-serif;
}


.side-links {
    stroke-width: 1px;
    opacity: 0.6;
    cursor: pointer;
}

.side-links--highlight {
    stroke-width: 2px;
    opacity: 1;
}

.side-links--fade {
    stroke-width: 0.4px;
    opacity: 0.4;
}

div.tooltip {
    position: absolute;
    text-align: center;
    padding: 4px;
    font: 14px sans-serif;
    background: #222930;
    color: #E9E9E9;
    border: 0px;
    border-radius: 8px;
}

.svg-container {
    display: inline-block;
    max-width: 100%;
    vertical-align: top;
    overflow: hidden;
}

.svg-content {
    display: inline-block;
}

.justified {
    text-align: justify;
    text-justify: inter-word;
}

.textWithLink {
    text-decoration: underline;
    text-decoration-color: lightsteelblue;
    cursor: pointer;
}

#on-click-toggle {
    margin-right: 20px;
}

#circular-g {
    width: 80%;
    height: 80%;
}

.RangeSlider {
    flex-grow: 1;
    margin-left: 20px;
    margin-right: 20px;
}

.sliderText {
    text-align: center;
    /*height: 25px;*/
}

.dropdown {
    height: 25px;
    min-width: 200px;
}


.DropDownMenu {
}

.DropDownText {
    text-align: left;
    height: 25px;
}

header {
}

footer {
}



a.listSearch:visited{
    color: #E9E9E9;
}

.form-control {
    width: 100%;
}


span.minussign {
    font-size: 12px;
    font-family: Tahoma;
    padding: 0px 10px;
}

/* scroll bar*/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
    border-radius: 10px;
    background-color: #343a40;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #343a40;
}

::-webkit-scrollbar:horizontal {
    height: 12px;
    background-color: #343a40;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
::-webkit-scrollbar-corner {
    background-color: #343a40;
}
