.link {
    stroke: white;
    stroke-opacity: 0.4;
    stroke-width: 0.05px;
    fill: none;
}

.link--highlight {
    stroke-opacity: 1;
    stroke-width: 1px;
}

.link--fade {
    stroke-opacity: 0.2;
}

.link--movieViz {
    stroke: white;
    stroke-opacity: 0.8;
    stroke-width: 0.2px;
    fill: none;
}

.node circle {
    stroke: #ffffff;
    stroke-width: 1px;
    color: #ffffff;
    font: 300 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.node:hover {
    fill: white;
    opacity: 1;
}

.node:hover,
.node--highlight {
    stroke-width: 2px;
    font-weight: 700;
}

.node--fade {
    opacity: 0.2;
}

.background {
    fill: #232323;
    stroke: #000000;
}

.wrapper {
    display: flex;
    max-height: 900px;
}

.textinfo {
}

.bar {
    fill: steelblue;
}

.text_default {
    fill: #ffffff;
    stroke: none;
    opacity: 0.8;
    font-size: 12px;
    font-family: sans-serif;
}
.text_highlight {
    fill: #ffffff;
    stroke: 1px;
    opacity: 1;
    font-size: 12px;
    font-family: sans-serif;
}
.text_fade {
    fill: #ffffff;
    opacity: 0.2;
    stroke: none;
    font-size: 12px;
    font-family: sans-serif;
}

.side-panel {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    vertical-align: top;
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.side-links {
    stroke-width: 1px;
    opacity: 0.6;
}

.side-links--highlight {
    stroke-width: 2px;
    opacity: 1;
}

.side-links--fade {
    stroke-width: 0.4px;
    opacity: 0.4;
}

div.tooltip {
    position: absolute;
    text-align: center;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
}

.svg-container {
    display: inline-block;
    max-width: 100%;
    vertical-align: top;
    overflow: hidden;
}

.svg-content {
    display: inline-block;
}

.justified {
    text-align: justify;
    text-justify: inter-word;
}

table {
    border-collapse: collapse;
}

.large {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
    vertical-align: top;
}

.RangeSlider {
    flex-grow: 1;
    margin-left: 20px;
    margin-right: 20px;
}

.sliderText {
    text-align: center;
    /*height: 25px;*/
}

.dropdown {
    height: 25px;
    min-width: 200px;
}

.DropDownMenu {
}

.DropDownText {
    text-align: left;
    height: 25px;
}

header {
}

footer {
}

#filters {
    display: flex;
    /*height: 60px;*/
    margin-bottom: 20px;
    font-family: Tahoma;
    font-size: 12px;
}

#DepartementOptions {
    width: 200px;
}

#filterButton {
    float: left
}

span.minussign {
    font-size: 12px;
    font-family: Tahoma;
    padding: 0px 10px;
}

/* scroll bar*/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
    border-radius: 10px;
    background-color: #343a40;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #343a40;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
