.links line{
        stroke: #ffffff;
}

.nodes circle{
    stroke: #ffffff;
    stroke-width: 1px;
}

.default{
    stroke-width: 0.04px;
    stroke-opacity : 0.6;
}

.show {
    stroke-width: 0.5px;
    stroke-opacity: 0.8;
    opacity: 1;
}

.hide {
    stroke-width: 0.04px;
    stroke-opacity : 0.4;
    opacity : 0.4;
}

.background {
    fill : #000000;
    stroke: #000000;
}

.wrapper {
    display: flex;
    max-height: 950px;
}

.textinfo {
}

.bar {
    fill: steelblue;
}

.side-panel {
    width: 33%;
    max-width: 33%;
    vertical-align: top;
    display: inline-block;
    padding-right: 5px;
}

.svg-container {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}
.svg-content {
    display: inline-block;
}
.justified {
    text-align: justify;
    text-justify: inter-word;
}

<<<<<<< HEAD
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
    vertical-align: top;
=======
.RangeSlider {
    flex-grow: 1;
    margin-left: 20px;
    margin-right: 20px;
}

.sliderText {
    text-align: center;
    height: 25px;
}

.dropdown {
    height: 25px;
    min-width: 200px;
}

.DropDownMenu {
}

.DropDownText {
    text-align: left;
    height: 25px;
>>>>>>> 41f59a36d100b969cfa556109a4d2dff0dcc774a
}

header {
}

footer{
}

#filters {
    display: flex;
    height: 60px;
    margin-bottom: 20px;
    font-family: Tahoma;
    font-size: 12px;
}

#DepartementOptions {
    width: 100px;
}

#filterButton {
    float:left 
}

span.minussign {
    font-size: 12px;
    font-family: Tahoma;
    padding: 0px 10px;
}