.links line{
    stroke: #696969;
    stroke-width: 1px;
}

.nodes circle{
    stroke: #ffffff;
    stroke-width: 1px;
}

.show {
    stroke-opacity: 0.6;
    opacity: 1;
}

.hide {
    stroke-opacity : 0.2;
    opacity : 0.2;
}

.background {
    fill : #ffffff;
    stroke: #000000;
}

.wrapper {
    display: flex;
    max-height: 900px;
}

.textinfo {
}

.bar {
    fill: steelblue;
}

.side-panel {
    width: 33%;
    max-width: 33%;
    vertical-align: top;
    display: inline-block;
    padding-right: 5px;
}

.svg-container {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}
.svg-content {
    display: inline-block;
}
.justified {
    text-align: justify;
    text-justify: inter-word;
}

header {
}

footer{
}
